body{
    background-color: #527853;
    align-content: center;
}
h1{
    font-family: "SF Pro Display", serif;
    font-size: 100px;
    text-align: center;
    color: #F9E8D9;
}
p{
    font-family: "SF Pro Display", serif;
    color: #F9E8D9;
    font-size: 40px;
}